
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form method="post" action="/category/CreateCategory">
    <div class="form-group">
        <label for="exampleInputEmail1">Category name</label>
        <input type="text" class="form-control" name="Name" placeholder="Enter category name">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>